peft
accelerate
sentencepiece
langchain>=0.2.0
langchain-core>=0.2.0
langchain-huggingface
langchain-community
langgraph
huggingface-hub
pydantic
sqlite-utils
Transformers
datasets
torch
torchvision
torchaudio
numpy
tqdm
sentence-transformers
faiss-cpu
pandas
